* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F8F9FA;
}
.navbar .container {
    max-width: 70em;
}
.navbar-brand {
    /* font-family: "Josefin Sans", serif; */
    font-family: "Cormorant", serif;
    font-size: 30px;
}

.nav-item {
    font-size: 18px;
    padding: 5px 30px;
    /* font-family: "Josefin Sans", serif; */
    font-family: "Cormorant", serif;

}

.nav-link.active {
    border-bottom: 2px solid #9BAD74;
    /* color: #f1eae6 ; */
}

.nav-link:hover {
    border-bottom: 3px solid #9BAD74;
    color: #9BAD74 !important;
}


.container-fluid {
    background-color: black;
    min-height: 70vh;
    color: #F8F9FA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    /* font-family: "Josefin Sans", serif; */
    font-family: "Cormorant", serif;
    font-size: 40px;
    text-transform: uppercase;
    color: #F4F4F4;
}

.text-paragraph {
    /* font-family: "Cormorant", serif; */
    font-family: "Josefin Sans", serif;
    font-size: 25px;
    color: #F4F4F4;
    font-weight: lighter;
}

.title2 {
    /* font-family: "Josefin Sans", serif; */
    font-family: "Cormorant", serif; 
    font-size: 30px;
    text-transform: uppercase;
    color: #313131;
}

.text-paragraph2 {
    /* font-family: "Cormorant", serif; */
    font-family: "Josefin Sans", serif;
    font-size: 20px;
    color: #616161;
    font-weight: 300;
}

.text-paragraph3 {
    /* font-family: "Cormorant", serif; */
    font-family: "Josefin Sans", serif;
    font-size: 20px;
    color: #616161;
    font-weight: bold;
}

.read-more {
    display: inline-block;
    margin-top: 8px;
    padding: 0px 5px;
    color: #9BAD74;
    text-decoration: none;
    transition: background-color 0.3s;
    font-family: "Cormorant", serif;
    font-size: 20px;
}

.read-more:hover {
    color: red;
}

footer {
    font-family: "Josefin Sans", serif;
    padding: 20px;
    background: #F4F4F4;
    color: #333;
}
.case-intro, .case-study{
    max-width: 70em;
}
@media screen and (max-width: 768px) {

    .text-paragraph, .text-paragraph2, .read-more {
        font-size: 16px;
    }
    .title2 {
        font-size: 18px;
    }
}

.icon-bar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #9BAD74;
}

.github,
.behance,
.linkedin,
.email {
    background: #F8F9FA;
    color: black !important;
}

.content {
    margin-right: -75px;
    font-size: 30px;
}




@media (max-width: 768px) {
    .icon-bar {
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: row;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 10px;
        width: 100%;
        justify-content: center;
    }

    .icon-bar a {
        margin: 0 5px;
        flex: 1;
    }
}

@media (max-width: 480px) {
    .icon-bar {
        display: none; /* Hide icons on very small screens */
    }
}

.slide-card {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1s ease-out, opacity 1s ease-out;
  }
  
  .slide-card.slide-in {
    transform: translateX(0);
    opacity: 1;
  }
  