* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F8F9FA;
}

.navbar .container {
    max-width: 70em;
}

.navbar-brand {
    /* font-family: "Josefin Sans", serif; */
    font-family: "Cormorant", serif;
    font-size: 30px;
}

.nav-item {
    font-size: 18px;
    padding: 5px 30px;
    /* font-family: "Josefin Sans", serif; */
    font-family: "Cormorant", serif;
}

.nav-link.active {
    border-bottom: 2px solid #9BAD74;
    /* color: #f1eae6 ; */
}

.nav-link:hover {
    border-bottom: 3px solid #9BAD74;
    color: #9BAD74 !important;
}

.case-study {
    display: flex;
    justify-content: center;
    align-items: center;
}

.case-study .card {
    max-width: 70em;
    min-height: 330px;
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 20px;
    background: white;
    border-radius: 0px;
    border-color: none !important;
}

.case-study .card img {
    max-width: 30%;
    height: 300px;
    margin: auto;
    padding: 0.5em;
    border-radius: 0px;
    object-fit: contain;
}

.case-study .card-body {
    display: flex;
    justify-content: space-between;
}

.case-study .card-title {
    /* font-family: "Josefin Sans", serif; */
    font-family: "Cormorant", serif;
    text-transform: uppercase;
    color: #313131;
}

.case-study .card-overview {
    font-family: "Cormorant", serif;
    font-size: 18px;
    color: #9BAD74;
    font-weight: bold;
}

.case-study .card-text {
    /* font-family: "Cormorant", serif; */
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: #898888;
    font-weight: 300;
}

@media screen and (max-width:475px) {
    .case-study .card {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 768px) {
    .case-study .card {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .case-study .card img {
        max-width: 80%;
        height: auto;
    }

    .case-study .card-body {
        display: flex;
        flex-direction: column;
        /* align-items: center;
        text-align: center; */
    }

    .case-study .card-title {
        font-size: 24px;
    }

    .case-study .card-overview,
    .case-study .card-text,
    .read-more {
        font-size: 16px;
    }
}

.read-more {
    display: inline-block;
    margin-top: 8px;
    padding: 0px 0px;
    color: #9BAD74;
    text-decoration: none;
    transition: background-color 0.3s;
    font-family: "Cormorant", serif;
    font-size: 20px;
}

.read-more:hover {
    color: red;
}

.about .pt-3 {
    /* font-family: "Cormorant", serif; */
    font-family: "Josefin Sans", serif !important;
    font-size: 20px;
    line-height: 1.6;
    color: #616161;
    font-weight: 300;
}

.skills {
    font-family: "Josefin Sans", serif !important;
    font-size: 20px;
    line-height: 1.6;
    color: #616161;
    font-weight: 300;
}

.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.title {
    /* font-family: "Josefin Sans", serif; */
    font-family: "Cormorant", serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #313131;
}

.title2 {
    color: #9BAD74;
    font-family: "Cormorant", serif;
    font-size: 25px;
    font-weight: 700;
}

footer {
    font-family: "Josefin Sans", serif;
    padding: 20px;
    background: #F4F4F4;
    color: #333;
}

.email {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 40px;
    color: #616161;
    font-family: "Cormorant", serif;
    font-size: 20px;
}

.fa-brands {
    color: #9BAD74;
}

.col-md-3 h6 {
    font-weight: lighter !important;
    color: #F0EEE7;
}

.links a {
    text-decoration: none;
    color: #616161;
    font-family: "Cormorant", serif;
}

.about-h2 {
    font-family: "Josefin Sans", serif;
}

.quote {
    font-family: "Cormorant", serif;
    font-style: italic;
    font-size: 30px;
    color: #616161;
}

.icon-bar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #9BAD74;
}

.github,
.behance,
.linkedin,
.email {
    background: #F8F9FA;
    color: black !important;
}

.content {
    margin-right: -75px;
    font-size: 30px;
}

.about {
    max-width: 70em;
}

.custom-img {
    width: 80%;
    height: 450px;
    object-fit: cover;
    object-position: center;
}
.email-link {
    text-decoration: none !important;  
    color: #898888;      
  }

